<%- include('partials/header') %>
<div class="section hero wf-section">
    <div class="container hero-section w-container">
      <div class="global-content-padding margin-bottom gradient-pink">
        <div class="hero-container other-pages">
          <h1>Page not found - 404<br>Go back <a href="/">home</a></h1>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
