<%- include('partials/header') %>

  <div class="main-wrapper">
    <div class="section hero yx-section">
      <div class="container hero-section y-container">
        <div class="global-content-padding margin-bottom gradient-purple">
          <div class="hero-container other-pages">
            <h1>About</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section yx-section">
      <div class="container y-container">
        <div class="global-content-padding">
          <div class="y-layout-grid grid">
            <div id="y-node-_10548efe-5ec9-3b27-6092-8ca766690c00-4d56c863" class="grid-block">
              <p class="text-color-grey no-margin-bottom">Our services.</p>
              <p>Website <br>Brand<br>AI Integration<br>Custom Chatbots<br>Web3<br>Cloud & Servers <br>Custom AI Platform<br>CMS <br> <a
                href="https://yesbhautikx.co.in/our-services/" target="_blank" class="no-decoration-link contact-link">+22 others</a></p>
              <p class="text-color-grey no-margin-bottom"> 
              <h2> <span style="font-weight: bold;">Innovate.</span> &nbsp;<span style="color: #a9a4a4; font-weight: bold;">Transform.</span>  <br>
                 <span style="color: #808080; font-weight: bold;">Succeed. </span></h2></p>
             
            </div>
            <div id="y-node-d85a9552-23c0-9a90-1b69-2e9194112098-4d56c863" class="grid-block">
              <p class="text-color-grey">Our mission —</p>
              <div><h2>When you choose us everybody wins </h2>We are your partner in transforming ideas into thriving brands. From crafting the perfect brand name to designing a captivating visual identity, and managing your online presence, we’ve got you covered. We specialize in revitalizing established businesses, ensuring they stay relevant in the modern digital landscape. <br><br>We believe in nurturing a lasting relationship with you, offering ongoing support and advice to help your brand not only survive but flourish. By staying ahead of market trends and leveraging innovative strategies, we ensure your brand continues to resonate with your audience and stands out in a crowded marketplace.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section small-margin-top yx-section">
      <div class="container y-container">
        <div class="global-content-padding">
          <p class="text-color-grey no-margin-bottom">Team</p>
          <div class="y-layout-grid grid team">
            <div id="y-node-b03e2708-52bd-9380-16e6-b7e60ba4be83-4d56c863" class="team-member-wrapper">
              <img
                src="images/yashvi-shah- Yesbhautikx.png" loading="lazy"
                sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, 29vw" alt="Yashvi Shah - YesbhautikX" class="team-member-image">
              <div class="team-member-info">
                <p class="no-margin-bottom">Yashvi Shah

                </p>
                <p class="text-color-grey">Full Stack Developer

                </p>
               
                <div class="social-media-links">
                  <a href="https://yashvi.tech" target="_blank" class="button">Website</a>
                  <a href="https://www.linkedin.com/in/yashvidotdev" target="_blank" class="button">LinkedIn</a>
                  <a href="https://github.com/yashvidotdev" target="_blank" class="button">GitHub</a>
                </div>
              </div>
            </div>
            <div id="y-node-_7f33fcb0-6f92-1a94-0549-652f2e782442-4d56c863" class="team-member-wrapper"><img
                src="images/Bhautik-bavadiya.png" loading="lazy"
                sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, 29vw" alt="Bhautik Bavadiya - YesbhautikX" class="team-member-image">
              <div class="team-member-info">
                <p class="no-margin-bottom">Bhautik Bavadiya

                </p>
                <p class="text-color-grey">Founder & CEO
                </p>
                <div class="social-media-links">
                  <a href="https://yesbhautik.co.in" target="_blank" class="button">Website</a>
                  <a href="https://www.linkedin.com/in/yesbhautik" target="_blank" class="button">LinkedIn</a>
                  <a href="https://github.com/yesbhautik" target="_blank" class="button">GitHub</a>
                </div>
              </div>
            </div>
            <div id="y-node-d4a11f45-cccd-8bbb-4035-3d65acf5db8c-4d56c863" class="team-member-wrapper"><img
                src="images/new-Noob Hackers-NItro - Yesbhautikx.png" loading="lazy"
                sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, 29vw" alt="YesbhautikX" class="team-member-image">
              <div class="team-member-info">
                <p class="no-margin-bottom">Noob Hackers    </p>
                <p class="text-color-grey">Cyber Security Expert and Marketing
                </p>
      
                <div class="social-media-links">
                  <a href="https://www.linkedin.com/in/noob-hackers-091b461a4/" target="_blank" class="button">LinkedIn</a>
                  <a href="https://www.youtube.com/c/NoobHackersOfficial" target="_blank" class="button">YouTube</a>
                  <a href="https://www.instagram.com/noobhackersofficial/" target="_blank" class="button">Instagram</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%- include('partials/footer') %>
