<%- include('partials/header') %>

  <div class="main-wrapper">
    <div class="section hero yx-section">
      <div class="container hero-section y-container">
        <div class="global-content-padding margin-bottom gradient-purple">
          <div class="hero-container other-pages">
            <h1>About</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section yx-section">
      <div class="container y-container">
        <div class="global-content-padding">
          <div class="y-layout-grid grid">
            <div id="y-node-_10548efe-5ec9-3b27-6092-8ca766690c00-4d56c863" class="grid-block">
              <p class="text-color-grey no-margin-bottom">Selected Clients</p>
              <p>Time<br>Players <br>Google<br>Microsoft<br>+22 others</p>
              <p class="text-color-grey no-margin-bottom">Awards</p>
              <div class="grid-block"><a href="https://yesbhautik.co.in/templates/designers/diogo-ferreira"
                  target="_blank">Awwwards<br>‍</a><span class="text-color-grey">2022</span><br><a
                  href="https://yesbhautik.com/templates/designers/diogo-ferreira" target="_blank">Digital excellence
                  award<br></a><span class="text-color-grey">2022</span><br><a
                  href="https://yesbhautik.com/templates/designers/diogo-ferreira" target="_blank">Digital
                  Award<br></a><span class="text-color-grey">2021</span></div>
            </div>
            <div id="y-node-d85a9552-23c0-9a90-1b69-2e9194112098-4d56c863" class="grid-block">
              <p class="text-color-grey">YesbhautikX</p>
              <div>We specialize in creating visually stunning and user-friendly websites that help businesses succeed
                online. <br><br>Our team of experienced designers and developers work closely with clients to
                understand their unique needs and goals and create custom websites that are tailored to their target
                audience. Whether you're looking to establish a strong online presence, increase sales, or build brand
                awareness, we have the skills and expertise to make it happen. <br><br>With a focus on responsive
                design, search engine optimization, and easy navigation, our websites are optimized for success in
                today's digital landscape. Let us help you create a website that truly represents your brand and helps
                you achieve your business objectives.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section small-margin-top yx-section">
      <div class="container y-container">
        <div class="global-content-padding">
          <p class="text-color-grey no-margin-bottom">Team</p>
          <div class="y-layout-grid grid team">
            <div id="y-node-b03e2708-52bd-9380-16e6-b7e60ba4be83-4d56c863" class="team-member-wrapper">
              <img
                src="images/63d2b347da3a7bcb6001b7cc_Team_3.webp" loading="lazy"
                sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, 29vw" alt="" class="team-member-image">
              <div class="team-member-info">
                <p class="no-margin-bottom">Yashvi Shah

                </p>
                <p class="text-color-grey">Full Stack Developer

                </p>
              </div>
            </div>
            <div id="y-node-_7f33fcb0-6f92-1a94-0549-652f2e782442-4d56c863" class="team-member-wrapper"><img
                src="images/63d2b34833a2fe7723006927_Team_2.webp" loading="lazy"
                sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, 29vw" alt="" class="team-member-image">
              <div class="team-member-info">
                <p class="no-margin-bottom">Bhautik Bavadiya

                </p>
                <p class="text-color-grey">Founder & CEO

                </p>
              </div>
            </div>
            <div id="y-node-d4a11f45-cccd-8bbb-4035-3d65acf5db8c-4d56c863" class="team-member-wrapper"><img
                src="images/63d2b3480f5549945d8b201c_Team_1.webp" loading="lazy"
                sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, 29vw" alt="" class="team-member-image">
              <div class="team-member-info">
                <p class="no-margin-bottom">James Johnson</p>
                <p class="text-color-grey">Web Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%- include('partials/footer') %>
