<%- include('partials/header') %>
<div class="main-wrapper">
    <div class="section hero yx-section">
      <div class="container hero-section y-container">
        <div class="global-content-padding margin-bottom gradient-blue">
          <div class="hero-container other-pages">
            <h1>Contact</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section no-padding-top yx-section">
      <div class="container y-container">
        <div class="global-content-padding margin-bottom">
          <div class="y-layout-grid grid">
            <div  class="grid-block">
              <div class="text-size-big text-color-grey">Email</div>
            </div>
            <div  class="grid-block">
              <div class="y-form">
                <form id="Contact-form" name="yx-form-Contact-form" data-name="Contact form" class="form-block" action="/submit-form" method="post">
                    <label for="name">Name</label>
                    <input type="text" class="text-input y-input" maxlength="256" name="Name" data-name="Name" placeholder="" id="name"/>
                    <label for="email">Email Address</label>
                    <input type="email" class="text-input y-input" maxlength="256" name="Email-Address"
                    data-name="Email Address" placeholder="" id="email" required/>
                    <label for="message">Message</label>
                    <textarea name="Message" maxlength="5000" data-name="Message"
                    placeholder="" id="message" class="text-area y-input"></textarea>
                    <div class="spacer _15"></div>
                    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=<%= siteKey %>"></script>
<div class="cf-turnstile" data-sitekey="<%= siteKey %>"></div>
<div class="spacer _15"></div>
                  <input type="submit" value="Send message" data-wait="Sending it"
                    class="button y-button">
                </form>
                <div id="successMessage" class="success-message y-form-done"  style="display: none;">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <!-- <div id="errorMessage" class="error-message y-form-fail" style="display: none;">
                  <div class="text-color-grey">Oops! Something went wrong while submitting the form.</div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section yx-section">
      <div class="container y-container">
        <div class="global-content-padding">
          <div class="y-layout-grid grid">
            <div id="y-node-_5de1d822-51f9-f201-32d0-ac0e8d664209-2056c866" class="grid-block">
              <div class="text-size-big text-color-grey">Contact</div>
            </div>
            <div id="y-node-_5de1d822-51f9-f201-32d0-ac0e8d66420c-2056c866" class="grid-block">
              <a href="https://goo.gl/maps/H4DqEGkU7Fxbc8FM6" target="_blank" class="no-decoration-link all-width contact-link">20°53'33.3"N 70°56'00.3"E</a>
              <a href="mailto:hi@yesbhautikx.co.in" target="_blank" class="no-decoration-link all-width contact-link">hi@yesbhautik.co.in</a>
              <a href="tel:+916353586391" target="_blank" class="no-decoration-link all-width contact-link">+9163535 86391</a>
              <a href="https://www.linkedin.com/in/yesbhautik/" target="_blank" class="no-decoration-link all-width contact-link">Linkedin</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
        document.getElementById('Contact-form').addEventListener('submit', async function (event) {
    event.preventDefault();
  
    const name = document.getElementById('name').value;
    const email = document.getElementById('email').value;
    const message = document.getElementById('message').value;
  
    try {
      const response = await fetch('/send-email', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          from: 'works@yesbhautik.co.in',
          to: 'bhbavadiya2608@gmail.com',
          subject: 'Contact Form Submission',
          html: `<p>Name: ${name}</p><p>Email: ${email}</p><p>Message: ${message}</p>`,
        }),
      });
  
      const data = await response.json();
  
      if (response.ok) {

        document.getElementById('successMessage').style.display = 'block';
        document.getElementById('errorMessage').style.display = 'none';
        document.getElementById('Contact-form').reset();
      } else {
        console.error('Error sending email:', data.error);
  
      }
    } catch (error) {
      console.error('An unexpected error occurred:', error);
    }
  });
  
    </script>
  <%- include('partials/footer') %>

