<%- include('partials/header') %>
<div class="main-wrapper">
    <div class="section hero scroll">
      <div class="container hero-section w-container">
        <div class="global-content-padding margin-bottom gradient-yellow">
          <div class="hero-container other-pages">
            <h1>Work</h1>
            <div class="w-dyn-list ">
              <div role="list" class="buttons-wrapper w-dyn-items">
                <div role="listitem" class="w-dyn-item category">
                  <a href="#" class="button category show-all">All</a>
                </div>
                <div role="listitem" class="w-dyn-item category" ><a href="/project-categories/art-direction" class="button category">Art
                    Direction</a></div>
                <div role="listitem" class="w-dyn-item category "><a href="/project-categories/ui-ux" class="button category">UI/UX</a>
                </div>
                <div role="listitem" class="w-dyn-item category"><a href="/project-categories/graphic-design"
                    class="button category">Graphic Design</a></div>
                <div role="listitem" class="w-dyn-item category show-all"><a href="/project-categories/web-design" class="button category">Web
                    Design</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section no-padding-top page-load-animation">
      <div class="container w-container">
        <div class="projects-collection-list w-dyn-list">
          <div role="list" class="grid w-dyn-items">
            <div role="listitem" class="project-item global-content-padding w-dyn-item"><a href="/projects/unbuilt"
                class="link-block w-inline-block"><img src="images/63d40558f3324d7d1eb5f530_Unbuilt_4.jpg"
                  loading="lazy" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, 42vw"
                  srcset="images/63d40558f3324d7d1eb5f530_Unbuilt_4-p-500.jpg 500w, images/63d40558f3324d7d1eb5f530_Unbuilt_4-p-800.jpg 800w, images/63d40558f3324d7d1eb5f530_Unbuilt_4-p-1080.jpg 1080w, images/63d40558f3324d7d1eb5f530_Unbuilt_4-p-1600.jpg 1600w, images/63d40558f3324d7d1eb5f530_Unbuilt_4.jpg 2000w"
                  class="project-image"></a>
              <div class="project-description-wrapper">
                <div class="project-title-description-wrapper"><a href="/projects/unbuilt"
                    class="link-block w-inline-block">
                    <h2>Unbuilt Website</h2>
                  </a>
                  <div class="tags-wrapper">
                    <div class="project-journal-tags-collection-list w-dyn-list">
                      <div role="list" class="buttons-wrapper w-dyn-items">
                        <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                            href="/project-categories/graphic-design" class="button">Graphic Design</a></div>
                        <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                            href="/project-categories/ui-ux" class="button">UI/UX</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="listitem" class="project-item global-content-padding w-dyn-item"><a href="/projects/magic-app"
                class="link-block w-inline-block"><img src="images/63d40e8b0d61bbe933691d9f_Magic_3.jpg"
                  loading="lazy" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, 42vw"
                  srcset="images/63d40e8b0d61bbe933691d9f_Magic_3-p-500.jpg 500w, images/63d40e8b0d61bbe933691d9f_Magic_3-p-800.jpg 800w, images/63d40e8b0d61bbe933691d9f_Magic_3-p-1080.jpg 1080w, images/63d40e8b0d61bbe933691d9f_Magic_3-p-1600.jpg 1600w, images/63d40e8b0d61bbe933691d9f_Magic_3.jpg 1800w"
                  class="project-image"></a>
              <div class="project-description-wrapper">
                <div class="project-title-description-wrapper"><a href="/projects/magic-app"
                    class="link-block w-inline-block">
                    <h2>Magic App</h2>
                  </a>
                  <div class="tags-wrapper">
                    <div class="project-journal-tags-collection-list w-dyn-list">
                      <div role="list" class="buttons-wrapper w-dyn-items">
                        <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                            href="/project-categories/web-design" class="button">Web Design</a></div>
                        <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                            href="/project-categories/ui-ux" class="button">UI/UX</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="listitem" class="project-item global-content-padding w-dyn-item"><a href="/projects/unbuilt"
                class="link-block w-inline-block"><img src="images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg"
                  loading="lazy" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, 42vw"
                  srcset="images/63d404bf25650b3ac5bd9e3e_Playful_2-p-500.jpg 500w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-800.jpg 800w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1080.jpg 1080w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1600.jpg 1600w, images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg 2000w"
                  class="project-image"></a>
              <div class="project-description-wrapper">
                <div class="project-title-description-wrapper"><a href="/projects/magic-app"
                    class="link-block w-inline-block">
                    <h2>Playfull</h2>
                  </a>
                  <div class="tags-wrapper">
                    <div class="project-journal-tags-collection-list w-dyn-list">
                      <div role="list" class="buttons-wrapper w-dyn-items">
                        <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                            href="/project-categories/ui-ux" class="button">UI/UX</a></div>
                        <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                            href="/project-categories/web-design" class="button">Web Design</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="listitem" class="project-item global-content-padding w-dyn-item"><a href="/projects/magic-app"
              class="link-block w-inline-block"><img src="images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg"
                loading="lazy" alt=""
                sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, 42vw"
                srcset="images/63d404bf25650b3ac5bd9e3e_Playful_2-p-500.jpg 500w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-800.jpg 800w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1080.jpg 1080w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1600.jpg 1600w, images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg 2000w"
                class="project-image"></a>
            <div class="project-description-wrapper">
              <div class="project-title-description-wrapper"><a href="/projects/unbuilt"
                  class="link-block w-inline-block">
                  <h2>Playfull</h2>
                </a>
                <div class="tags-wrapper">
                  <div class="project-journal-tags-collection-list w-dyn-list">
                    <div role="list" class="buttons-wrapper w-dyn-items">
                      <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                          href="/project-categories/ui-ux" class="button">UI/UX</a></div>
                      <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                          href="/project-categories/web-design" class="button">Web Design</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="listitem" class="project-item global-content-padding w-dyn-item"><a href="/projects/unbuilt"
            class="link-block w-inline-block"><img src="images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg"
              loading="lazy" alt=""
              sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, 42vw"
              srcset="images/63d404bf25650b3ac5bd9e3e_Playful_2-p-500.jpg 500w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-800.jpg 800w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1080.jpg 1080w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1600.jpg 1600w, images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg 2000w"
              class="project-image"></a>
          <div class="project-description-wrapper">
            <div class="project-title-description-wrapper"><a href="/projects/magic-app"
                class="link-block w-inline-block">
                <h2>Playfull</h2>
              </a>
              <div class="tags-wrapper">
                <div class="project-journal-tags-collection-list w-dyn-list">
                  <div role="list" class="buttons-wrapper w-dyn-items">
                    <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                        href="/project-categories/ui-ux" class="button">UI/UX</a></div>
                    <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                        href="/project-categories/web-design" class="button">Web Design</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="listitem" class="project-item global-content-padding w-dyn-item"><a href="/projects/magic-app"
          class="link-block w-inline-block"><img src="images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg"
            loading="lazy" alt=""
            sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, 42vw"
            srcset="images/63d404bf25650b3ac5bd9e3e_Playful_2-p-500.jpg 500w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-800.jpg 800w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1080.jpg 1080w, images/63d404bf25650b3ac5bd9e3e_Playful_2-p-1600.jpg 1600w, images/63d404bf25650b3ac5bd9e3e_Playful_2.jpg 2000w"
            class="project-image"></a>
        <div class="project-description-wrapper">
          <div class="project-title-description-wrapper"><a href="/projects/unbuilt"
              class="link-block w-inline-block">
              <h2>Playfull</h2>
            </a>
            <div class="tags-wrapper">
              <div class="project-journal-tags-collection-list w-dyn-list">
                <div role="list" class="buttons-wrapper w-dyn-items">
                  <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                      href="/project-categories/ui-ux" class="button">UI/UX</a></div>
                  <div role="listitem" class="project-journal-tags-item w-dyn-item category"><a
                      href="/project-categories/web-design" class="button">Web Design</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            <div role="listitem" class="project-item global-content-padding w-dyn-item"><a href="/projects/magic-app"
                class="link-block w-inline-block"><img src="images/63d407e03e14308c840d37d3_Waves_4.jpg"
                  loading="lazy" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, 42vw"
                  srcset="images/63d407e03e14308c840d37d3_Waves_4-p-500.jpg 500w, images/63d407e03e14308c840d37d3_Waves_4-p-800.jpg 800w, images/63d407e03e14308c840d37d3_Waves_4-p-1080.jpg 1080w, images/63d407e03e14308c840d37d3_Waves_4-p-1600.jpg 1600w, images/63d407e03e14308c840d37d3_Waves_4.jpg 2000w"
                  class="project-image"></a>
              <div class="project-description-wrapper">
                <div class="project-title-description-wrapper"><a href="/projects/unbuilt"
                    class="link-block w-inline-block">
                    <h2>Web Waves</h2>
                  </a>
                  <div class="tags-wrapper">
                    <div class="project-journal-tags-collection-list w-dyn-list">
                      <div role="list" class="buttons-wrapper w-dyn-items">
                        <div role="listitem" class="project-journal-tags-item w-dyn-item"><a
                            href="/project-categories/art-direction" class="button">Art Direction</a></div>
                        <div role="listitem" class="project-journal-tags-item w-dyn-item"><a
                            href="/project-categories/ui-ux" class="button">UI/UX</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="link-block w-inline-block load-more-button" onclick="loadMore()">
          <div class="global-content-padding big-padding gradient-purple-center animate-gradient">
            <div class="text-align-center">Discover All Work</div>
          </div>
        </div>
      </div>
    </div>
<%- include('partials/footer') %>
