.load-more-button{
  margin-top: 30px;
cursor: pointer;
}
 
#back-to-top-button {
display: none;
position: fixed;
bottom: 20px;
right: 20px;
background-color: #a19529;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 15px;
cursor: pointer;
font-size: 16px;
}

#back-to-top-button:hover {
  background-color: #c1b761;
}

.Select-category.selected{
  color: #fff;
  background-color: transparent;
}
.text-area{
  resize: none;
}
.button{
  cursor: pointer;
}
.subcategory-container{
margin-top: 17px;
}

@media only screen and (max-width: 1350) {
  
.success-message {
width: 100%;
margin-top: 23px;
}
}